/*Global*/
:root {
    --accent-colour: #e4c1f9;
}

section:nth-child(2n) {
    background-color: #ede8f5;
}

section[class^="container"] {
    padding: 4rem 2rem;
}

@media screen and (min-width: 1024px) {
    section [class^="container"] {
        padding: 4rem;
    }
    nav [class^="container"] {
        padding: 0 4rem;
    }
}

.btn-outline-dark {
    border: 2px solid #0f0f0f;
    box-shadow: 4px 4px #0f0f0f;
}

.btn-outline-dark:hover {
    border: 2px solid #0f0f0f;
    box-shadow: 4px 4px var(--accent-colour);
}

/*Navbar*/
.navbar {
    background-color: #f0f0f0;
}

.navbar-nav .nav-link{
    color: #0f0f0f;
    font-size: 1.1em;
}

@media screen and (min-width: 1024px) {
    .navbar-nav .nav-item{
        padding: 0 1rem;
    }
    
    .navbar-brand{
        font-size: 1.5rem;
    }
}

/*Hero*/
section.hero{
    padding-top: 72px;
}

section.hero i{
    font-size: 16rem;
    padding: 4rem;
}

@media screen and (max-width: 576px) {
    section.hero{
        text-align: center;
    }

    section.hero i{
        font-size: 8rem;
    }
}

/* About */
@media screen and (min-width: 1024px) {
    section.about_me .container{
        width: 60%;
    }
}
/* Projetcs */
section.projects i{
    font-size: 8rem;
    margin: 1rem;
}

section.projects img{
    margin: 2rem auto 0 auto;
    width:80%;
}

section.projects .card{
    border: 2px solid #0f0f0f;
    box-shadow: 4px 4px #0f0f0f;
    max-width: 22rem;
    margin-inline: auto;
}


/* Societes & Competition Teams */

section.societes .card{
    border: 2px solid #0f0f0f;
    box-shadow: 4px 4px #0f0f0f;
    max-width: 22rem;
    margin-inline: auto;
}

section.societes i{
    font-size: 8rem;
    margin: 1rem;
}


/*Footer / Get in Touch*/
section.get_in_touch i{
    font-size: 2rem;
    margin: 2rem;
    color: #0f0f0f;
}