.container {
    display: grid;
    grid-template-areas:
        'header header header header'
        'Sidebar . Body .'
        'footer footer footer footer';
        
    background: #f0f0f0;
    color: #0f0f0f;

}

header {
    grid-area: header;
    background-color: #0f0f0f;
    color: #f0f0f0;

}

footer {
    grid-area: footer;
    background-color: #0f0f0f;
    color: #f0f0f0;

}

main {
    grid-area: main;
    background-color: #dfaeed;
    color: #0f0f0f;

}

.sidebar {
    grid-area: Sidebar;
    background-color: #0f0f0f;
    color: #f0f0f0;
}
