 
.container {
    display: grid;
    grid-template-areas:
        'header header header header'
        'sidebar . main .'
        'footer footer footer footer';
    min-height: 100vh;    
    background: #f0f0f0;
    color: #0f0f0f;
    grid-template-columns: 6vw 12vw 70vw 12vw;
    grid-template-rows: auto 1fr auto;

}

@media only screen and (max-device-width: 480px) {
    .container {
        display: grid;
        grid-template-areas:
            'header'
            'sidebar'
            'main'
            'footer';
        min-height: 100vh;    
        background: #f0f0f0;
        color: #0f0f0f;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto;
    } 
}

a.button {
    color: #f0f0f0;
    background-color: #0f0f0f;
    font-family: 'Helvetica', sans-serif;
    text-align: left;
    height: auto;
    margin: 1vh;
}


body {
    padding: 0;
    margin: 0;
}
p {
    font-family: 'Garamond', serif;
    text-align: start;
    text-justify: start;
}

header {
    grid-area: header;
    background-color: #0f0f0f;
    color: #4af626;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
}

footer {
    grid-area: footer;
    background-color: #0f0f0f;
    color: #f0f0f0;
    position: sticky;
    border-top: 1px solid #f0f0f0;

}

main {
    grid-area: main;
    background-color: #e9e2ff;
    color: #0f0f0f;
    overflow-y: scroll;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 2vh;
    background-color: #0f0f0f;
    color: #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

.entry {
    background-color: beige;
    color: #0f0f0f;
    padding: 1em;
    margin: 1em;
    max-height: 270px;
    overflow: scroll;
    border-radius: 1em;
    display: grid;
    grid-template-areas:
        "entry_title"
        "entry_div";
}

.entry_div {
    grid-area: entry_div;
    color: #0f0f0f;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    justify-self: stretch;
}

.entry_image_left {
    grid-area: entry_image_left;
    height: 200px;
    margin: 1em;
    float: left;

}

.entry_title {
    grid-area: entry_title;
    font-family: 'Lucida Console' ,sans-serif;   
    justify-self: start;
}

.image_break {
    display: block;
    margin: auto;
    height: 10%;
}
